# This is a distribution file, it won't be used directly
# Please copy it to auth.conf at the root level and
# Required Configuration
SOURCE_URL=your_source_elasticsearch_url
SOURCE_USER=source_username
SOURCE_PASS=source_password
DEST_URL=your_destination_elasticsearch_url
DEST_USER=destination_username
DEST_PASS=destination_password

# Optional Configuration (defaults shown)
LOCAL_PORT=9200
COPY_MAPPINGS=true
COPY_DATA=true
COPY_TASKS=false
COPY_PIPELINES=false
INSECURE=false
DEBUG=false